<h1>Productos en tiempo real</h1>

<div class="productsRealTime"></div>

{{!-- Prender socket desde nuestro Front --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- Index, script principal --}}
<script src="/js/socketHandler.mjs"></script>